#navBar {
  margin-top: 2%;
  background-color: #FFB4B0;
  border: 2px solid black;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px; }

#navBar a:hover {
  color: red;
  text-decoration: underline; }

#navBar li {
  list-style: none;
  display: inline; }

.button {
  display: block;
  width: 80px;
  background-color: lightgrey;
  margin: 3% auto; }

.deleteButton {
  background-color: red;
  border-radius: 50%; }

#listMusicView {
  margin-top: 1%; }

#leftColumn {
  background-color: #4DD7FA;
  border: 2px solid black;
  height: 380px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px; }

#checkboxes {
  display: block;
  margin: 3% auto; }

.checkbox1, .checkbox2 {
  display: inline;
  list-style-type: none;
  margin: 0 5%;
  padding: 0;
  width: 80px; }

label {
  display: block; }

#rightColumn {
  background-color: #FEFAC0;
  border: 2px solid black;
  height: 380px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  overflow: scroll;
  padding: 2%; }

#rightColumn section {
  display: block; }

.newStuff {
  border: 1px solid grey;
  width: 70%; }

.song, .artist, .album {
  display: inline; }

/* - - - - - - - Add Music View - - - - - - - */
#addMusicForm {
  margin-top: 2%;
  border: 2px solid black;
  padding: 1%; }
