#rightColumn {
  background-color: #FEFAC0;
  border: 2px solid black;
  height: 380px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  overflow: scroll;
  padding: 2%;
  // margin-left: 1%; /* - - THIS BORKS LAYOUT, BUT I WANT A GUTTER BETWEEN THE TWO COLUMNS - - */
}


.song, .artist, .album {
  display: inline;
  margin-left: 2%;
}

.newSong {
  margin: 1%;
  vertical-align: middle; 
}