@import "navbar";
@import "buttons";
@import "left_column";
@import "right_column";

/* - - - - - - - Add Music View - - - - - - - */
#addMusicForm {
  margin-top: 2%;
  border: 2px solid black;
  padding: 1%;
}