div#main {
  width: 90%;
  margin: 0 auto 0 auto;
}

#addMusicView {
  margin: 50%;
  display: hidden;
}

#listMusicView {
  display: hidden;
}


/* Navigation bar */
.navBar {
  background-color: #FFB4B0;
  border: 2px solid black;
  margin: 2.5% auto 1.5% auto;
  width: 90%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

a:hover {
  color: green;
}

a:active {
  color: red;
}

a:visited {
  color: black;
}

.navBar li {
    list-style: none;
    display: inline;
}


/* Left column */
#leftColumn {
  float: left;
  background-color: #4DD7FA;
  box-sizing: border-box;
  margin-left: .75%;
  width: 27.25%;
  border: 2px solid black;
  margin: 0 auto 0 auto;
  height: 364px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;  
}

select {
  width: 140px;
}

#leftColumn select, #leftColumn input {
  margin: .5em 0 0 0;
}

.list1 {
    display: inline;
    list-style-type: none;
    float: left;
    padding: 0;
    margin: .5em 0 .25em .5em;
}

.list2 {
    display: inline;
    list-style-type: none;
    float: right;
    padding: 0;
    margin: .5em 0 .25em 2.5em;
}

fieldset {
  border: none;
}

label {
  display: block;
    margin: 1.25em 0 0 0;
}

.filterButton {
  margin: 4% 50% 4% 25%;
  width: 10em;
}

.addButton {
  margin: 4% 50% 4% 25%;
  width: 10em;
}

.buttonText {
  font:1.25em/25px "Helvetica Neue", sans-serif;
  }


/* Right column with artist / song information */
#rightColumn {
  float: right;
  background-color: #FEFAC0;
  box-sizing: border-box;
  width: 71.25%;
  margin-left: .75%;
  border: 2px solid black;
  height: 364px;
}

.songInfo {
  margin-left: 5%;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
}

.bandAlbum {
  font-size: .7em;
  display: block;
  font-family: Helvetica, sans-serif;
}
